[run]
branch = True

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit = oceanspy/tests/*
       oceanspy/__init__.py
       oceanspy/open_oceandataset.py
       oceanspy/utils.py
       oceanspy/plot.py
	   oceanspy/animate.py
