# https://pre-commit.com/
ci:
    autofix_prs: false
repos:

  - repo: https://github.com/pycqa/isort
    rev: 5.9.2
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
       - id: flake8

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 0.13.1
    hooks:
      - id: nbqa-black
        additional_dependencies: [black==20.8b1]
        args: [--nbqa-mutate]
      - id: nbqa-isort
        additional_dependencies: [isort==5.7.0]
        args: [--nbqa-mutate]
