include CONTRIBUTING.rst
include HISTORY.rst
include README.rst
include LICENSE

graft oceanspy

prune assets
prune docs
prune binder
prune paper
prune sciserver_catalogs/
prune *.egg-info

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
