name: ospy_docs
channels:
  - conda-forge
dependencies:
  - python=3.8
  - pandoc
  - sphinx
  - sphinx_rtd_theme
  - nbsphinx
  - numpydoc
  - pip
  - pip:
    - xarray
    - intake
    - intake-xarray
    - ipython
    - xgcm
    - aiohttp
    - msgpack
    - toolz
