name: CI

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
    branches:
    - main
  schedule:
  - cron: "0 13 * * 1"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  pytest:
    name: Build (${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
    steps:
    - uses: actions/checkout@v3

    - name: Install Conda environment with Micromamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: ci/environment.yml
        environment-name: oceanspy_test
        channels: conda-forge
        cache-env: true
        extra-specs: |
          python=${{ matrix.python-version }}

    - name: Set up conda environment
      run: |
        python -m pip install -e .
        conda list

    - name: Run Tests
      run: pytest --cov=./ --cov-report=xml

    - name: Upload code coverage to Codecov
      uses: codecov/codecov-action@v3.1.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false
